:root {
  --bg-color: #181b35;
  --green: #21a058;
  --green-hover: #176b3c;
  --white: #eaeaea;
  --bg-input: #30355a;
  --error-color: #c12626;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

body {
  display: grid;
  place-items: center;
  height: 100dvh;
  background-color: var(--bg-color);
}
